{
	"printWidth": 80,
	"tabWidth": 4,
	"useTabs": true,
	"semi": false,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"bracketSpacing": true,
	"bracketSameLine": true,
	"arrowParens": "avoid",
	"singleAttributePerLine": false
}
